main {
    width: 85%;
    height: 1650px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
    display: block;
    text-align: center;
}

.hood {
    color: #3EDA90;
    font-size: 40px;
}

.top {
    display: flex;
    width: 100%;
    height: 400px;
    text-align: center;
    margin-top: 10px;
}

.left {
    width: 48%;
    height: 386px;
    overflow: hidden;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(56, 56, 56));
}

.left h3 {
    color: white;
    font-size: 2.5rem;
    position: relative;
}

.left img {
    height: 450px;
    margin-left: 50%;
    transform: translate(-50%);
    -webkit-filter: opacity(30%);
    filter: opacity(30%);
}

.centertop {
    width: 100%;
    margin-top: 0px;
    overflow: hidden;
    height: 190px;
    background-image: linear-gradient(#3EDA90, #21f793);
}

.centertop img {
    height: 190px;
    margin-left: 50%;
    width: 100%;
    transform: translate(-50%);
    -webkit-filter: opacity(70%);
    filter: opacity(70%);
}

.centerbottom {
    width: 100%;
    margin-bottom: 0px;
    overflow: hidden;
    height: 190px;
    background-image: linear-gradient(#c7c7c7, #ffffff);
}

.centerbottom img {
    height: 190px;
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%);
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}

.right {
    width: 24%;
    margin-left: 2%;
    height: 386px;
    overflow: hidden;
    background-color: rgb(33, 245, 86);
}

.right img {
    height: 100%;
    margin-left: 50%;
    transform: translate(-50%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.center {
    width: 24%;
    margin-left: 2%;
    height: 386px;
}

section {
    width: 100%;
    display: flex;
    margin-top: 25px;
}

.alt_icerik {
    width: 48%;
    height: 250px;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.baslik h3 {
    color: black;
    margin-right: 15px;
    font-size: 33px;
}

.baslik {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
}

.imag img {
    height: 100%;
    border-radius: 50%;
}

.imag {
    width: 50%;
    height: 60%;
    border-radius: 50%;
    margin-left: 15px;
}

.alt_icerik_sag {
    width: 48%;
    height: 250px;
    margin-left: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid gray;
}

@media only screen and (max-width: 1110px) {
    main {
        width: 95%;
    }
}

@media only screen and (max-width: 930px) {
    section {
        display: block;
        text-align: center;
    }
    .alt_icerik_sag {
        margin-left: 0px;
        margin-top: 25px;
        width: 75%;
        margin-left: 50%;
        transform: translate(-50%);
    }
    .alt_icerik {
        margin-left: 0px;
        margin-top: 25px;
        width: 75%;
        margin-left: 50%;
        transform: translate(-50%);
    }
    main {
        height: 2700px;
    }
    .baslik h3 {
        margin-right: 45px;
    }
    .baslik {
        width: 350px;
    }
}

@media only screen and (max-width: 825px) {
    .top {
        display: block;
    }
    .hood {
        margin-top: 700px;
    }
    .right {
        display: none;
    }
    .left h3 {
        font-size: 35px;
    }
    .left {
        margin-left: 50%;
        transform: translate(-50%);
        width: 80%;
    }
    .center {
        margin-left: 50%;
        transform: translate(-50%);
        width: 80%;
        margin-top: 30px;
    }
    .centertop {
        margin-top: 30px;
        height: 300px;
    }
    .centertop img {
        height: 300px;
    }
    .centertop h3 {
        font-size: 35px;
    }
    .centerbottom {
        margin-top: 30px;
        height: 300px;
    }
    .centerbottom h3 {
        font-size: 35px;
    }
    .centerbottom img {
        height: 300px;
    }
    main {
        height: 3400px;
    }
}

@media only screen and (max-width: 725px) {
    .baslik h3 {
        margin-right: 15px;
    }
    .baslik {
        width: 250px;
    }
}

@media only screen and (max-width: 620px) {
    .alt_icerik {
        overflow: hidden;
        background-image: linear-gradient(rgb(0, 0, 0), rgb(56, 56, 56));
        border: none;
    }
    .alt_icerik_sag {
        overflow: hidden;
        background-image: linear-gradient(rgb(0, 0, 0), rgb(56, 56, 56));
        border: none;
    }
    .baslik {
        color: rgb(255, 255, 255);
        width: 100%;
        text-align: center;
    }
    .baslik h3 {
        color: rgb(255, 255, 255);
        margin-left: -100%;
        font-size: 30px;
    }
    .imag img {
        height: 450px;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
        -webkit-filter: opacity(10%);
        filter: opacity(10%);
        border-radius: 0px;
    }
}